{% extends "base.html" %}

{% block title %}Total Balance{% endblock %}

{% block body %}

<!-- Balance -->
<section class="balance">
    <div class="container">
        <h1 id="balanceHeader" class="text-center add-header">{{ title }}</h1>
        <div class="row">

            <!-- Expenses -->
            <div class="col-lg-6 px-3 px-md-5">
                <h2 class="text-uppercase text-center balance-subheader">Wydatki</h2>
                <div class="box balance-box" style="background-color: #4FC6A8;">
                    <div class="accordion" id="accordionExpenseBalance">
                        <div class="accordion" id="accordionExpenseBalance1">
                            <div class="accordion-item">
                            {% set number = 0 %}
                            {% set totalExpense = 0 %}
                            {% for expenses in expense_balance %}
                                {% if expenses.expenseSum is not empty %}
                                {% set number = number + 1 %}  
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading{{ number }}">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                                                        data-bs-target="#collapse{{ number }}" aria-expanded="true" aria-controls="collapse{{ number }}">
                                                            <span class="">{{ expenses.category_name }}</span>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapse{{ number }}" class="accordion-collapse collapse" aria-labelledby="heading{{ number }}" 
                                                data-bs-parent="#accordionBalance{{ number }}">
                                                    <div class="accordion-body">
                                                        <table> 
                                                        {% set category = expenses.id %}      
                                                        {% for expense in expenses_in_category %}
                                                            {% if expense.expense_category_assigned_to_user_id == category %}
                                                            <tr>
                                                                <td class="accordion__bold-text">{{ expense.expense_comment }}</td>
                                                                <td>{{ expense.date_of_expense }}</td>
                                                                <td>{{ expense.amount }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                            <tr>
                                                                <td colspan="2" class="accordion__bold-text">Suma:</td> <td class="accordion__sum">
                                                                    <span>{{ expenses.expenseSum | number_format(2, ',', ' ') }}</span> zł
                                                                    {% set totalExpense = totalExpense + expenses.expenseSum %}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                    {% endif %}
                                {% endfor %}
                            </div>  
                        </div>
                    </div>
                    {% if totalExpense > 0 %}          
                    <div class="d-flex mt-4 mb-3">
                        <h3 class="text-uppercase balance-box__item-subheader">Całkowita suma wydatków:</h3>
                        <div class="box balance-box__sum">           
                            <span id="allExpensesSum">{{ totalExpense | number_format(2, ',', ' ') }} zł</span>            
                        </div>
                    </div>
                    {% else %}
                    <h3 class="text-uppercase text-center balance-box__item-subheader">
                        Brak wydatków w wybranym okresie.
                    </h3>
                    {% endif %}

                    <!-- Pie chart -->
                    {% if totalExpense > 0 %} 
                    <div class="piechart mt-5">
                        <h2 class="text-center balance-subheader">Wykres Twoich wydatków</h2> 
                        <div class="text-center piechart__key mb-5">
                            <canvas id="myChart"></canvas>
                            <script>
                                window.onload = function() {
                                        
                                        var table = {{ dataChart|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};           
                                        var labels = [];
                                        var values = [];
                                        var rowCount = {{ number }};

                                        for(var i = 0; i < rowCount; ++i) {

                                            var row = table[i];
                                            labels.push(row["category_name"]);
                                            values.push(row["expenseSum"]);
                                        }
                                        
                                        var ctx = document.getElementById('myChart').getContext('2d');
                                        
                                        var myChart = new Chart(ctx, {
                                            type: 'pie',
                                            data: {
                                                labels: labels,
                                                datasets: [{
                                                    data: values,
                                                    backgroundColor: [
                                                        '#000D6B',
                                                        '#CA2ACD',
                                                        '#A5A6F6',
                                                        '#99DDCC',
                                                        '#EAEAEB',
                                                        '#000000',
                                                        '#000D6B',
                                                        '#CA2ACD',
                                                        '#A5A6F6',
                                                        '#99DDCC',
                                                        '#EAEAEB',
                                                        '#000000',
                                                        '#000D6B',
                                                        '#CA2ACD',
                                                        '#A5A6F6',
                                                        '#99DDCC',
                                                        '#EAEAEB',
                                                        '#000000',
                                                    ],
                                                }]
                                            }
                                })
                            }
                            </script>                        
                        </div>
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            
            <!-- Incomes -->
            <div class="col-lg-6 px-3 px-md-5">
            <h2 class="text-uppercase text-center balance-subheader">Przychody</h2>
                <div class="box balance-box" style="background-color: #99DDCC;">
                {% set totalIncome = 0 %} 
                    <div class="accordion" id="accordionIncomeBalance01">
                        <div class="accordion-item">
                            {% set number = 0 %}
                            {% for incomes in income_balance %}
                                {% if incomes.incomeSum is not empty %}
                                {% set number = number + 1 %}                                             
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading0{{ number }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                                        data-bs-target="#collapse0{{ number }}" aria-expanded="true" 
                                        aria-controls="collapse0{{ number }}">
                                            
                                            <span class="">{{ incomes.category_name }}</span>
                                            
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse0{{ number }}" class="accordion-collapse collapse" 
                                aria-labelledby="heading0{{ number }}" data-bs-parent="#accordionBalance0{{ number }}">
                                    <div class="accordion-body text-center">
                                        <table>
                                            {% set category = incomes.id %}      
                                            {% for income in incomes_in_category %}
                                                {% if income.income_category_assigned_to_user_id == category %}
                                                    <tr>
                                                        <td class="accordion__bold-text">{{ income.income_comment }}</td>
                                                        <td>{{ income.date_of_income }}</td>
                                                        <td>{{ income.amount }}</td>
                                                    </tr>
                                                {% endif %} 
                                            {% endfor %}    
                                            <tr>
                                                <td colspan="2" class="accordion__bold-text">Suma:</td>
                                                <td class="accordion__sum">
                                                    <span id="incomes1Sum"></span>{{ incomes.incomeSum | number_format(2, ',', ' ') }} zł
                                                    {% set totalIncome = totalIncome + incomes.incomeSum %}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>  
                    </div>
                {% if totalIncome > 0 %}
                    <div class="d-flex mt-4">
                        <h3 class="text-uppercase balance-box__item-subheader">Całkowita suma przychodów:</h3>
                        <div class="box balance-box__sum">
                            <span id="allIncomesSum">{{ totalIncome | number_format(2, ',', ' ') }} zł</span> 
                        </div>
                    </div>
                {% else %}
                    <h3 class="text-uppercase text-center balance-box__item-subheader">
                        Brak przychodów w wybranym okresie.
                    </h3>
                {% endif %}
                </div>

                

                <!-- Total balance -->
                {% set totalBalance = totalIncome - totalExpense %}
                <div class="box balance-box mt-5" style="background-color: #EAEAEB;">
                    <h3 class="balance-subheader pb-2">Twój całkowity bilans wynosi:</h3>
                    <div class="box balance-box__sum mb-2" style="font-size: 24px;">                     
                        <span id="balanceSum" type="number" step="0.01">{{ totalBalance | number_format(2, ',', ' ') }} zł</span>         
                    </div>
                    {% if totalBalance > 0 %}
                    <h4 class="text-center mt-4">Gratulacje! Świetnie zarządzasz finansami.</h4>
                    {% elseif totalBalance < 0 %}
                    <h4 class="text-center mt-4">Uważaj! Budżet przekroczony!</h4>
                    {% else %}
                    <h4 class="text-center mt-4"></h4>
                    {% endif %}
                </div>

                <div class="text-center">
                    <img class="img-fluid" src="/img/ECONOMY_ANALYSIS.png" alt="budżet domowy" />
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}


{% endblock %}