{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}

        <!-- Dates of balance -->
        <section class="dates-menu">
            <div class="container">
                <h1 id="balanceHeader" class="text-center dates-header">Wybierz zakres dat bilansu:</h1>
                <div class="m-auto user-menu__box">
                    <form method="post" action="/balance/show">
                        <label class="form-checkbox-input d-block mb-3">
                            <input type="radio" checked="checked" name="dates" value="1" />
                            <span class="checkmark ms-2"></span>
                            <span class="font-weight-bold">Bieżący miesiąc</span>
                        </label>
                        <label class="form-checkbox-input d-block mb-3">
                            <input type="radio" name="dates" value="2" />
                            <span class="checkmark ms-2"></span>
                            <span class="font-weight-bold">Poprzedni miesiąc</span>
                        </label>
                        <label class="form-checkbox-input d-block mb-3">
                            <input type="radio" name="dates" value="3" />
                            <span class="checkmark ms-2"></span>
                            <span class="font-weight-bold">Bieżący rok</span>
                        </label>
                        <label class="form-checkbox-input d-block mb-5">
                            <input type="radio" name="dates" value="4" />
                            <span class="checkmark ms-2"></span>
                            <span class="font-weight-bold">Niestandardowe:</span>
                            <div class="d-block mt-4">
                                <div class="form-group mx-2">
                                    <label for="firstDate" class="form-control-label mb-1">Data początkowa</label>
                                    <input name="date1" type="date" id="firstDate"  class="form-control"/>
                                </div>
                                <div class="form-group mx-2">
                                    <label for="secondDate" class="form-control-label mb-1">Data końcowa</label>
                                    <input name="date2" type="date" id="secondDate" class="form-control"/>
                                </div>
                            </div>
                        </label>
                        <div class="text-center">
                            <button type="submit" class="btn balance-date__button">Pokaż bilans</button>
                        </div>
                    </form>
                </div>
                <img class="img-fluid dates-menu__img" src="img/ECONOMY_ANALYSIS.png" alt="budżet domowy" />
            </div>
        </section>

{% endblock %}