{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block body %}


<div class="pt-5 text-center">
    <div class="profile-input m-auto">
        <h1 class="mb-3">Dodaj nową kategorię przychodów</h1>
        <form method="post" action="/profile/addIncomesCategory">
            <div class="form-group">
                <label for="categoryName" class="form-control-label">Podaj nazwę nowej kategorii:</label>
                <input type="text" name="category" id="categoryName"class="form-control"/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn pg-button">Dodaj</button>
                <a href="/profile/show" class="btn pg-button__secondary">Anuluj</a>
            </div>         
        </form>  
    </div>
</div>

{% endblock %}